{% extends "base.html.twig" %}
{% block title %}Formulaire Ajout Service{% endblock %}

{% block body %}

<br>
<br>

{{form_start(form)}}

{{form_widget(form)}}
<br>

<button type="submit" class="btn btn-primary" > Ajouter </button>

{{form_end(form)}}


{% endblock %}