{% extends 'base.html.twig' %}

{% block content %}
<br>
<h1>Bienvenue sur Sf-Hopital</h1>

<button type="button" class="btn btn-outline-info">  
 <a href="/admin">Service</a>
</button>
<button type="button" class="btn btn-outline-warning">
 <a href="/specialite">Specialite</a>
</button>
<button type="button" class="btn btn-outline-danger">
 <a href="/medecin">Medecin</a>
</button>

{% endblock %}

